--extra-index-url https://download.pytorch.org/whl/cu128

pillow>=9.0.0
onnxruntime>=1.12.0
huggingface-hub

gradio==5.50.0
pandas

# for reorganize WD Tagger into a readable article by Llama3 model.
transformers>=4.45.2
ctranslate2>=4.4.0
torch
torchvision